

.drop-down-container {
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(128, 128, 128, 0.555);
    position: absolute;
    right: 0;
    margin-right: 4rem;
    margin-top: .5rem;
    z-index: 1000;
    font-size: 1rem;

    cursor:auto;

    &-list {
        max-height: 300px;
        scrollbar-width: .5rem;
    }

    &-values {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: .5rem;

        #cartPrice {
            margin-bottom: .3rem;
            font-size: .9rem;
        }
        #goToCheckout {
            width: 11rem;
        }
    }
}



.object-container {
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
    padding: .4rem;
    margin: .2rem;
    border: 1px solid black;

    &-left {

    }

    &-right {
        display: flex;
        flex-direction: column;
        text-align: end;
    }

    #objectImage {
        width: 50px;
        height: 40px;
    }
    #objectName {
        font-weight: bold;
    }
    #objectPrice {
        color: green;
    }
}