

.drop-down-container {
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(128, 128, 128, 0.555);
    position: absolute;
    right: 0;
    margin-right: 4rem;
    margin-top: .5rem;
    z-index: 1000;
    font-size: 1rem;

    cursor:auto;

    &-list {
        max-height: 300px;
        scrollbar-width: .5rem;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: .3rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgb(53, 53, 53);
        }

        &::-webkit-scrollbar-track {
            background-color: rgb(255, 255, 255) ;
        }
        
    }

    &-values {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: .5rem;

        #cartPrice {
            margin-bottom: .3rem;
            font-size: .9rem;
        }
        #goToCheckout {
            width: 11rem;
        }
    }
}



.object-container {
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
    padding: .4rem;
    margin: .2rem;
    border: 1px solid black;

    &:hover {
        background-color: rgba(187, 187, 187, 0.116);
    }

    &-left {
        display: flex;
        flex-direction: column;

        .close-button {
            width: .7rem;
            height: .7rem;
            color: red;

            cursor: pointer;
        }
    }

    &-right {
        display: flex;
        flex-direction: column;
        text-align: end;

        &-quantity {
            display: flex;
            justify-content: end;
            align-items: baseline;
            gap: .2rem;


            .quantity-buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid black;
                background-color: white;
                height: .9rem;
                width: .9rem;
                font-size: .8rem;

                cursor: pointer;

                &:hover {
                    background-color: rgb(197, 197, 197);
                }
            }
        }

    }

    #objectImage {
        width: 50px;
        height: 40px;
    }
    #objectName {
        font-weight: bold;
    }
    #objectPrice {
        color: green;
    }
}